*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  max-width: 1920px;
  background-color: #000000;
  color: white;
  font-family: "Noto Sans TC", sans-serif;
}

.bg-white {
  max-width: 1920px;
  background-color: white;
  border-radius: 160px;
  color: #020202;
}